body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: 90vh;
}

.task {
  background-color: #b95dca;
  border-radius: 5px;
  color: black;
  padding: 5px;
  margin: 4px;
}


